  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="aboutUsBody">
    <h5>Welcome to the Jungle, a store that only sells very necessary products for very reasonable prices. Here are a few fun facts about our site:</h5>
    <ul>
      <li>Established in 2022, <em>Jungle</em> has been the single fastest growing website on the internet.<sup>1</sup></li>
      <li>Every product on our website is 100% guaranteed to be hand-crafted and artisanally-made.<sup>2</sup></li> 
      <li>13 different former U.S. presidents have patronized our store.<sup>3</sup></li>
      <li>Literally everything about this website is perfect.</li>
    </ul>
  </div>
  <footer style="font-size: 0.5em; position: absolute; bottom: 10px">
    <p><sup>1</sup> Don't look that up. Just trust us.</p>
    <p><sup>2</sup> By hand-crafted and artisanally made we of course mean that they were made by machines for the cheapest possible price to increase our profits.</p>
    <p><sup>3</sup> Again, don't look that up.</p>
  </footer>